<h1>WHADDUP</h1>

<%= form_for @film do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :photo %>
  <%= f.text_field :photo %>

  <%= f.label :year %>
  <%= f.text_field :year %>

  <%= f.label :synopsis %>
  <%= f.text_field :synopsis %>

  <%= f.label :genre %>
  <%= f.text_field :genre %>

  <%= f.submit "Create" %>
<% end %>